/* ! Fonts */
/* Outfit 400 */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-style: normal;
	transition: 0.5s;
}

body {
	background-color: #f1f1f1;
}

.container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 60px;
	/* border: 1px solid #e3e3e3; */
}
